[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}
[data-theme='4'] {
    --color: #FFFFFF;
    background: url('./ateoTheme.jpg');
    background-size: cover;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.select {

}
